<section class="gap-8 grid grid-cols-2">
  <a href="" class="bg-gray-700 rounded overflow-hidden flex items-stretch gap-6 hover:bg-gray-600 transition-colors">
    <div class="bg-green-700 h-full p-6 flex items-center">
      <app-file-arrow-down></app-file-arrow-down>
    </div>
    <article class="py-6 leading-relaxed">
      <strong class="text-2xl">Material complementar</strong>
      <p class="text-sm text-gray-200 mt-2">
        Acesse o material complementar para acelerar o seu desenvolvimento
      </p>
    </article>
    <div class="h-full p-6 flex items-center">
      <app-caret-right></app-caret-right>
    </div>
  </a>

  <a href="" class="bg-gray-700 rounded overflow-hidden flex items-stretch gap-6 hover:bg-gray-600 transition-colors">
    <div class="bg-green-700 h-full p-6 flex items-center">
      <app-file-arrow-down></app-file-arrow-down>
    </div>
    <article class="py-6 leading-relaxed">
      <strong class="text-2xl">Wallpapers exclusivos</strong>
      <p class="text-sm text-gray-200 mt-2">
        Baixe wallpapers exclusivos do Ignite Lab e personalize a sua máquina
      </p>
    </article>
    <div class="h-full p-6 flex items-center">
      <app-caret-right></app-caret-right>
    </div>
  </a>
</section>
