<section
  class="min-h-screen bg-blur bg-cover bg-no-repeat flex flex-col items-center"
>
  <div
    class="w-full max-w-[1100px] flex items-center justify-between mt-20 mx-auto"
  >
    <div class="max-w-[640px]">
      <app-logo></app-logo>
      <h1 class="mt-8 text-[2.5rem] leading-tight">
        Construa uma <strong class="text-blue-500">aplicação completa</strong>,
        do zero, com <strong class="text-blue-500">React</strong>
      </h1>
      <p class="mt-4 text-gray-400 leading-relaxed">
        Em apenas uma semana você vai aprender na prática uma das tecnologias
        mais usadas e com alta demanda para acessar as melhores oportunidades do
        mercado
      </p>
    </div>
    <div class="p-8 bg-gray-700 border border-gray-500 rounded">
      <form [formGroup]="subscriberForm" (ngSubmit)="submitForm()">
        <fieldset class="flex flex-col gap-2 w-full">
          <legend>
            <strong class="text-2xl mb-6 block"
              >Inscreva-se gratuitamente</strong
            >
          </legend>
          <input
            class="bg-gray-900 rounder px-5 h-14"
            [ngClass]="{'input-error': (subscriberForm.get('name')?.errors?.['required'] && subscriberForm.get('name')?.['touched'])}"
            type="text"
            [placeholder]="subscriberForm.get('name')?.errors?.['required'] && subscriberForm.get('name')?.['touched'] ?'Digite seu nome' : 'Seu nome completo'"
            formControlName="name"
          />
          <input
            class="bg-gray-900 rounder px-5 h-14"
            [ngClass]="{'input-error': (subscriberForm.get('email')?.errors?.['email'] && subscriberForm.get('email')?.errors?.['required'])}"
            type="email"
            placeholder="Digite seu email"
            formControlName="email"
          />
          <button
            class="mt-4 bg-green-500 uppercase py-4 rounded font-bold text-sm hover:bg-green-700 transition-colors disabled:opacity-50 disabled:cursor-not-allowed"
            type="submit"
            [disabled]="disabled === true"
          >
            Garantir minha vaga
          </button>
        </fieldset>
      </form>
    </div>
  </div>

  <img src="assets/images/cold-mockup.png" class="mt-10" alt="" />
</section>
